<% @video.each do |video| %>
<center>
	<div>
		<h3> <a href="/<%= video[:id] %>"><%= video[:title] %> </a></h3>
		<p> <a href="/<%= video[:id] %>"><%=video[:content]%> ></a> </p>
		<%= video[:url] %>
	</div>
</center>
<% end %>
